<mat-toolbar class="header-box">
  <span class="material-icons menu-icon" [matMenuTriggerFor]="menu">
    menu
  </span>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'/companies'">Companies</button>
    <button mat-menu-item [routerLink]="'/projects'">Projects</button>
    <button mat-menu-item [routerLink]="'/users'">Users</button>
    <button mat-menu-item [routerLink]="'/features'">Features</button>
  </mat-menu>
  <span [routerLink]="''" class="page-title">October Project</span>
  <div>
    <mat-form-field appearance="outline" class="company-select">
      <mat-label>Company</mat-label>
      <mat-select (selectionChange) = "onChange($event)">
        <mat-option *ngFor="let company of companies" [value]="company.id">
          {{company.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-toolbar>

