.header-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  background-color: #fff;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
  margin-bottom: 10px;
}

.menu-icon {
  cursor: pointer;
}
