.feature-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.feature-main-box {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  max-width: 800px;
  padding: 20px;
  box-shadow: 0 0 20px #ccc;
}

.feature-content-box {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.feature-primary-content-item {
  flex:4;
}

.feature-secondary-content-item {
  flex: 1;
}

.form-item {
  width: 100%;
}

.back-save-box {
  display: flex;
  gap: 20px;
  align-self: center;
}

.title {
  align-self: center;
}
